@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Bytesized&family=Coral+Pixels&family=Jacquard+12&family=Jacquarda+Bastarda+9&family=Micro+5+Charted&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Storm&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html, body
{

    overflow: hidden;
}



#startScreen{
  position:relative;
    width:100%;   
    height:100vh; 
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  overflow:hidden;
  background: black;
  gap: 10px;
}



#startScreen p{
  font-size:2vw;
  color:#fff;
  display: grid;
  pointer-events:none;
  position: relative;
  margin-top: 11%;
  z-index: 1;
  font-family: 'Montserrat Alternates', sans-serif;
}

#startScreen .glitch-target{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  line-height: 1;
  width: 100%;
}

#startScreen .glitch-target{
  z-index: 2;
}

#startScreen h1{
  font-size:10vw;
  color:#fff;
  transition: font-family 0.1s ease, opacity 0.1s;
}



#startScreen .glitch-target.active{
  opacity: 1;
}

.glitch{
  animation: glitchAnim 0.1s steps(1,end) infinite;
}
@keyframes glitchAnim{
  0% { transform: translateX(0); text-shadow: 2px 0 #ff005c, -2px 0 #00fff0; opacity:1; }
  20% { transform: translateX(-6px); opacity:0.9; }
  40% { transform: translateX(6px); text-shadow: 6px 0 #ff005c, -6px 0 #00fff0; opacity:0.7; }
  60% { transform: translateX(-3px); opacity:0.9; }
  100% { transform: translateX(0); opacity:1; }
}

#rain-container{
  position: fixed;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.rain-object{
  position: absolute;
  top: -100px;

  width: 80px;

  animation: fall linear forwards;
}

@keyframes fall{
  to{
    transform: translateY(120vh) rotate(360deg);
  }
}